{% extends "base.html" %}
  
{% block title %} Update Employee Records{% endblock title %}
  
{% block content %}
<div class="col-md-12" id="table-list">
    <form method="POST" class="post-form" action="/update/{{employee.id}}">  
    {% csrf_token %}  
    <div class="container">   
        <div class="col-12">  
            <h3>Update Employee Details</h3>  
        </div> 
       
        <div class="mb-3"> 
            <label>First Name:</label>  
            <input type="text" class="form-control" name="firstname" id="id_firstname" required maxlength="100" value="{{ employee.firstname }}" />  
        </div> 
        <div class="mb-3"> 
            <label>Last Name:</label>  
            <input type="text" class="form-control" name="lastname" id="id_lastname" required maxlength="100" value="{{ employee.lastname }}" />  
        </div> 
        <div class="mb-3"> 
            <label>Email:</label>  
            <input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ employee.email }}" />  
        </div> 
        <div class="mb-3"> 
            <label>Contact:</label>  
            <input type="text" class="form-control" name="contact" id="id_contact" required maxlength="15" value="{{ employee.contact }}" />  
        </div>
        <div class="mb-3"> 
            <label>Country:</label>  
            <input type="text" class="form-control" name="country" id="id_country" required maxlength="15" value="{{ employee.country }}" />  
        </div>
        <div class="mb-3"> 
            <label>City:</label>  
            <input type="text" class="form-control" name="city" id="id_city" required maxlength="15" value="{{ employee.city }}" />  
        </div>
        <div class="mb-3"> 
            <button type="submit" class="btn btn-success btn-lg">Update</button>  
            <button type="button" class="btn btn-secondary btn-lg" id="cancelButton">Cancel</button>
        </div>
        <script>
            document.getElementById("cancelButton").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
            });
        </script> 
    </div>  
    </form>  
{% endblock content %}   