{% extends "base.html" %}
{% block title %}Hire New Employee{% endblock title %}
  
{% block content %}
{% load static %}
<div id="cover1">
<div class="col-md-12" id="table-list">    
    <form method="POST" class="post-form" action="/addnew">  
    {% csrf_token %}  
    <div class="container">  
        <div class="col-12">  
        <h3>Enter Details</h3>  
        </div>    
     
        <div class="mb-3"> 
            <label>First Name:</label>  
            {{ form.firstname }}   
        </div> 
        <div class="mb-3"> 
            <label>Last Name:</label>  
            {{ form.lastname }}   
        </div> 
        <div class="mb-3"> 
            <label>Email:</label>  
            {{ form.email }}   
        </div>  
        <div class="mb-3"> 
            <label>Contact:</label>  
            {{ form.contact }}   
        </div>
        <div class="mb-3"> 
            <label>Country:</label>  
            {{ form.country }}   
        </div>
        <div class="mb-3"> 
            <label>City:</label>  
            {{ form.city }}   
        </div>  
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button> 
        </div> 
        <script>
            document.getElementById("cancelButton").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
            });
        </script>
    </div>  
    </form>  
</div> 
</div>
{% endblock content %} 